//
   Created by janez on 4/9/15.
.col-md-8
  h1 #{gettext("Welcome to js-gettext-primer")}

  p #{gettext("This primer is a work in progress. Content coming soon (tm)!")}

  p #{gettext("However there is a full JavaScript gettext implementation present. Feel free to have a look around the code.")}
